body{
    margin: 0;
    text-align: center;
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
}
#wrap{}
@font-face {
    font-family: 'Star Jedi';
    src: url("fonts/Starjhol.ttf");
}

.title{
    font-family: 'Star Jedi', sans-serif;
    color: #ffab06;
    line-height: 10px;
    font-size: 150px;
}
#container{
    position: relative;
}
#text_box{
    border: #ffab06 solid 2px;
    border-radius: 10px;
    width: 50vw;
    height: 25vh;
    position: absolute;
    left: 25%;
    right: 25%;
}
#button{
    border: #ffab06 solid 2px;
    border-radius: 5px;
    background-color: #fff6eb;
    position: absolute;
    top: 26vh;
    height: 30px;
    padding: 0 20px;
    left: 47vw;
}