{% extends 'base.html' %}

{% block content %}
  <h1>People List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
      <tr>
        <td><a href="{% url 'person-detail' person.id %}">{{ person.id }}</a></td>
        <td>{{ person.name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.country }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
