<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get by number</title>
</head>
<body style="color:rgb(110, 1, 1);font-size: 30px;padding: 30px;">
    {% for person in persons %}
    Name: {{ person.name }}<br>
    Phone Number: {{ person.phone_number }}<br>
    Email: {{ person.email }}<br>
    Address: {{ person.address }}<br>
{% endfor %}

</body>
</html>